swagger: '2.0'
info:
  title: 'Game Curator API'
  description: 'Learning project API to retrieve and manipulate game review data.'
  version: 'v1'
  license:
    name: GNU Affero General Public License Version 3
    url: http://www.gnu.org/licenses/agpl-3.0.en.html
  contact:
    name: IS Data Architecture Team
    url: https://is.oregonstate.edu/data-architecture
    email: isdataarchitecture@oregonstate.edu
schemes:
  - http
host: 'api.oregonstate.edu'
basePath: /v1
externalDocs:
  description: GitHub Repository
  url: https://github.com/osu-mist/game-curator-api
produces:
  - application/json
paths:
  /game/{gameId}:
    get:
      summary: Find game by ID
      description: Returns a single game
      parameters:
      - name: gameId
        in: path
        description: Id of game to return
        required: true
        type: integer
        format: int64
      responses:
        200:
          description: Successful response
        404:
          description: Game not found
          schema:
            $ref: '#/definitions/Errors'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/Errors'
  /game:
    parameters:
      - $ref: '#/parameters/authorization'
    post:
      summary: Add a new game
      responses:
        201:
          description: Successfully added a game
        405:
          description: Invalid input
          schema:
            $ref: '#/definitions/Errors'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/Errors'
parameters:
  authorization:
    name: Authorization
    in: header
    type: string
    required: true
    description: '"Bearer [token]" where [token] is your OAuth2 access token'
definitions:
  GameResource:
    properties:
      id:
        type: integer
        format: int64
      developer:
        $ref: '#/definitions/Developer'
      name:
        type: string
        description: Name of the game.
        example: Eternal Death Slayer 3
      score:
        type: number
        format: float
        description: Composite review score of this game out of 5.
        example: 4.5
      links:
        $ref: '#/definitions/SelfLink'
  Developer:
    properties:
      id:
        type: integer
        format: int64
      name:
        type: string
        description: Name of the developer
        example: Terminal Reality
  Review:
    properties:
      id:
        type: integer
        format: int64
      game:
        $ref: '#/definitions/GameResource'
      reviewer:
        type: string
        description: Person who wrote the review.
      score:
        type: number
        format: float
        description: Score for this review out of 5.
      reviewText:
        type: string
        description: Text containing the review for the referenced game.
  SelfLink:
    properties:
      self:
        type: string
        format: url
        description: Self-link of current resource
  Error:
    properties:
      status:
        type: string
        description: HTTP status code
        example: '123'
      title:
        type: string
        description: A short, user readable summary of the error
        example: Not Found
      code:
        type: string
        description: An application-specific error code
        example: '1234'
      detail:
        type: string
        description: A long description of the error that may contain instance-specific details
      links:
        properties:
          about:
            type: string
            format: url
            description: A link to further information about the error
            example: https://developer.oregonstate.edu/documentation/error-reference#1234
  Errors:
    properties:
      errors:
        type: array
        items:
          $ref: '#/definitions/Error'
